global_defs {
   smtp_server localhost
   smtp_connect_timeout 30
}

{% for vip in vips %}
vrrp_instance {{ vip.name }} {
    state MASTER
    interface ens3
    virtual_router_id 10{{ loop.index }}
    priority {{ (loop.index + play_hosts.index(inventory_hostname)) % 3 + 50}}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ vip.ip }}
    }
}
{% endfor %}
